site_name: Euler-Maths Documentation
docs_dir: docs
theme:
  name: material
  custom_dir: material/overrides
  features:
  - content.action.edit
  - content.action.view
  - content.code.annotate
  - content.code.copy
  - content.tooltips
  - navigation.footer
  - navigation.indexes
  - navigation.sections
  - navigation.tabs
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow
  palette:
  - media: (prefers-color-scheme)
    toggle:
      icon: material/link
      name: Switch to light mode
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: indigo
    accent: indigo
    toggle:
      icon: material/toggle-switch
      name: Switch to dark mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: black
    accent: indigo
    toggle:
      icon: material/toggle-switch-off
      name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
markdown_extensions:
- pymdownx.superfences:
    custom_fences:
    - name: mermaid
      class: mermaid
      format: '!!python/name:pymdownx.superfences.fence_code_format'
nav:
- Home: index.md
- Code Reference:
  - .gitignore: code/.gitignore
  - LICENSE: code/LICENSE
  - pyproject.toml: code/pyproject.toml
  - requirements.txt: code/requirements.txt
  - src/euler_maths/__init__.py: code/src/euler_maths/__init__.py
  - src/euler_maths/misc.py: code/src/euler_maths/misc.py
  - src/euler_maths/prime.py: code/src/euler_maths/prime.py
  - tests/speed_test.py: code/tests/speed_test.py
